<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <center>
        <h1><span>Taboon Bar</span></h1>
    </center>
    <div class="wrapper">
        <a href="/login">Login</a>
        <a href="/Signup">Signup</a>
    </div>

<!-- <form class="form" autocomplete="off">

  <button class="btn block-cube block-cube-hover">{:type=>"button"}
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>

    <div class="text">
<a style="color: #ffffff;" href="/login">
      Log In
</a>
</div>
</button>

<br>
<br>

<button class="btn block-cube block-cube-hover">{:type=>"button"}
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">
        <a style="color: #ffffff;"  href="/Signup">
      Sign Up
</a>
    </div>
</button>

  </form>
 -->
    
</body> 
</html>

